<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Navigation -->
<nav class="w3-bar w3-indigo">
  <a href="index.html" class="w3-button w3-bar-item">Home</a>
  <div class="w3-dropdown-hover">
      <button class="w3-button">Assets</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(New Custodian)</a>
        <a href="oldasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(Old Custodian)</a>
        <a href="lookup.html" class="w3-bar-item w3-button w3-hover-orange">Lookup Asset(s)</a>
        <a href="updateasset.html" class="w3-bar-item w3-button w3-hover-orange">Update Asset</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Custodians</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newcust.html" class="w3-bar-item w3-button w3-hover-orange">New Custodian</a>
        <a href="viewcust.html" class="w3-bar-item w3-button w3-hover-orange">View Assets</a>
        <a href="updatecust.html" class="w3-bar-item w3-button w3-hover-orange">Update Custodian</a>
        <a href="allcust.html" class="w3-bar-item w3-button w3-hover-orange">View Custodian(s)</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Checkout</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="checkout.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkout</a>
        <a href="checkin.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkin</a>
        <a href="viewcheck.html" class="w3-bar-item w3-button w3-hover-orange">View Checkouts</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Accounts</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="acct.html" class="w3-bar-item w3-button w3-hover-orange">View Acct Info</a>
        <a href="updateacct.html" class="w3-bar-item w3-button w3-hover-orange">Update Acct Info</a>
        <a href="report.html" class="w3-bar-item w3-button w3-hover-orange">File Report</a>
      </div>
  </div>
</nav>

<h2 align="center">New Asset - New Custodian</h2>

<div class="container">
  <form action="work.html" method="POST">
      <div class="row">
      <h3> <u> Asset Info </u> </h3>
    </div>
    <div class="row">
      <div class="col-10">
        <label for="tagno">Tag Number</label>
      </div>
      <div class="col-15">
        <input type="text" id="tagno" name="tagno" placeholder="Enter 6-digit T/N" minlengh="6" maxlength="6" required> 
      </div>
       <div class="col-10">
       </div>
      <div class="col-12">
        <label for="serialno">Serial Number</label>
      </div>
      <div class="col-15">
        <input type="text" id="serialno" name="serialno" placeholder="S/N if applicable">
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <label for="type">Type</label>
      </div>
      <div class="col-15">
        <select id="type" name="type">
          <option value="computer">Desktop</option>
          <option value="laptop">Laptop</option>
          <option value="camera">Camera</option>
          <option value="scanner">Tablet/iPad</option>
          <option value="other">Other</option>
        </select>
      </div>           
       <div class="col-10">
       </div>
      <div class="col-12">
        <label for="date">Acquisition Date</label>
      </div>
      <div class="col-15">
      <input id="date" type="date" value="2018-01-01">
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <label for="description">Description</label>
      </div>
      <div class="col-52">
        <textarea id="description" name="description" placeholder="Write a short description about the Asset" style="height:75px"></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="building">Building</label>
      </div>
      <div class="col-15">
        <input type="text" id="building" name="building" placeholder="Building for Asset">
      </div>
      <div class="col-10">
       </div>
      <div class="col-12">
        <label for="room">Room</label>
      </div>
      <div class="col-15">
        <input type="text" id="room" name="room" placeholder="Room No for Asset">
      </div>
    </div>
        <div class="row">
      <p>  </p>
    </div>
    <div class="row">
        <h3> <u> Custodian's Info </u> </h3>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="empid">Custodian ID</label>
      </div>
      <div class="col-15">
        <input type="text" id="empid" name="empid" placeholder="Custodian's ID">
      </div>
      <div class="col-10">
       </div>
      <div class="col-12">
        <label for="name">Custodian Name</label>
      </div>
      <div class="col-15">
        <input type="text" id="name" name="name" placeholder="Custodian's Name">
      </div>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="custbldg">Building</label>
      </div>
      <div class="col-15">
        <input type="text" id="custbldg" name="custbldg" placeholder="Bldg of Custodian">
      </div>
      <div class="col-10">
       </div>
      <div class="col-12">
        <label for="custroom">Room</label>
      </div>
      <div class="col-15">
        <input type="text" id="custroom" name="custroom" placeholder="RmNo of Custodian">
      </div>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="email">Email</label>
      </div>
      <div class="col-24">
        <input type="text" id="email" name="email" placeholder="Email id of Custodian">
      </div>
    </div>
           <div class="row">
      <p>  </p>
    </div>
       
    <div class="row">
        <h3> <u> Accounting Info </u> </h3>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="cost">Cost</label>
      </div>
      <div class="col-15">
        <input type="text" id="cost" name="cost" placeholder="Enter Cost in $$">
      </div>
      <div class="col-10">
       </div>
      <div class="col-12">
        <label for="funds">Source of Funds</label>
      </div>
      <div class="col-15">
        <input type="text" id="funds" name="funds" placeholder="Source of Funds">
      </div>
    </div>
    
    <div class="row">
          <div class="col-10">
        <label for="status">Status</label>
      </div>
            <div class="col-15">
        <select id="status" name="status">
          <option value="active">Active</option>
          <option value="stolen">Missing(Stolen)</option>
          <option value="delete">Missing(Hold for Deletion)</option>
          <option value="surplus">Surplus</option>
          <option value="other">Other</option>
        </select>
      </div>
      </div>
    
    <div class="row">
      <p>  </p>
    </div>
        <div class="row">
      <p>  </p>
    </div>
    
    <div class="row">
      <div class="col-30">
         <input type="submit" value="Submit">
      </div>
      <div class="col-15">
        <input type="reset" value="Clear">
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-30 w3-center w3-orange">
  <p class="w3-medium">
  <img src="AMA.png" height="100" width="250"/>
  </p>
  <p>
    Developers: Pavanaj Biyani | Ethan Duff | Kevin Williams 
  </p>
</footer>

</body>
</html>
