<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<body>
<!-- Navigation -->
<nav class="w3-bar w3-indigo w3-container">
  <a href="index.html" class="w3-button w3-bar-item">Home</a>
  <div class="w3-dropdown-hover">
      <button class="w3-button">Assets</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(New Custodian)</a>
        <a href="oldasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(Old Custodian)</a>
        <a href="lookup.html" class="w3-bar-item w3-button w3-hover-orange">Lookup Asset(s)</a>
        <a href="updateasset.html" class="w3-bar-item w3-button w3-hover-orange">Update Asset</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Custodians</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newcust.html" class="w3-bar-item w3-button w3-hover-orange">New Custodian</a>
        <a href="viewcust.html" class="w3-bar-item w3-button w3-hover-orange">View Assets</a>
        <a href="updatecust.html" class="w3-bar-item w3-button w3-hover-orange">Update Custodian</a>
        <a href="allcust.html" class="w3-bar-item w3-button w3-hover-orange">View Custodian(s)</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Checkout</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="checkout.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkout</a>
        <a href="checkin.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkin</a>
        <a href="viewcheck.html" class="w3-bar-item w3-button w3-hover-orange">View Checkouts</a>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Accounts</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="acct.html" class="w3-bar-item w3-button w3-hover-orange">View Acct Info</a>
        <a href="updateacct.html" class="w3-bar-item w3-button w3-hover-orange">Update Acct Info</a>
        <a href="report.html" class="w3-bar-item w3-button w3-hover-orange">File Report</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Help</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="help.html" class="w3-bar-item w3-button w3-hover-orange">Guide</a>
    </div>
    </div>
</nav>

<h2 class="w3-wide" align="center">HELP GUIDE</h2>

<div class="container">
  <form >
      <div class="row">
      <h3> &nbsp; <u>  Table of Contents </u> </h3>
    </div>

<ol>
<li><a href="#New_Asset_New_Custodian">New Asset - New Custodian</a></li>
<li><a href="#New_Asset_Old_Custodian">New Asset - Old Custodian</a></li>
<li><a href="#Lookup_Asset">Lookup Asset</a></li>
<li><a href="#Update_Asset">Update Asset</a></li>
<li><a href="#New_Custodian">New Custodian</a></li>
<li><a href="#View_Assets_Of_Custodians">View Custodian&rsquo;s Assets</a></li>
<li><a href="#Update_Custodian">Update Custodian</a></li>
<li><a href="#View_Custodian">View Custodian</a></li>
<li><a href="#Asset_Checkout">Asset Checkout</a></li>
<li><a href="#Asset_Checkin">Asset Checkin</a></li>
<li><a href="#View_Checkouts">View Checkouts</a></li>
<li><a href="#View_Account_Info">View Accounts Information</a></li>
<li><a href="#Update_Account_Info">Update Account Information</a></li>
<li><a href="#File_Report">File Report</a></li>
</ol>

<h4 id="New_Asset_New_Custodian"> &nbsp;<u>New Asset - New Custodian</u></h4>
<ul>Adding a New Asset to the system for a New Custodian.
    <li>Input Needed for New Asset
        <ul>
            <li> Tag Number - 6 digits e.g. 100001, if not fully known, 100xxx also works </li>
            <li> Serial Number - optional, if known </li>
            <li> Type of Asset - choose from a drop-down menu, or pick "other" </li>
            <li> Acquisition Date - enter in yyyy-mm-dd format the date the asset was acquired </li>
            <li> Description - short description about the asset </li>
            <li> Building - building part of the Asset's location </li>
            <li> Room - room no of the building </li>
        </ul>
    </li>
    <li>Input Needed for a New Custodian
        <ul>
            <li> Custodian ID - 1000# of the Custodian of the Asset </li>
            <li> Custodian Name - Full Name of the Custodian </li>
            <li> Building - Building of the Custodian's office  </li>
            <li> Room - Room No of the Custodian's office </li>
            <li> Email - UTA email id of the Custodian</li>
        </ul>
    </li>

    <li>Input Needed for Accounting Information
        <ul>
            <li> Cost - USD$ Amount of the Asset </li>
            <li> Source of Funds - Source of Funds like Research, Grant, etc. </li>
            <li> Status - Current Status of the Asset, choose from drop down menu  </li>
        </ul>
    </li>
</ul>

<h4 id="New_Asset_Old_Custodian"> &nbsp;<u>New Asset - Old Custodian</u></h4>
<ul>This page is used when adding an asset to the system and checking it out to a custodian that already exists in the system.
<li>The first part of this page requires asset information such as the Tag Number, Serial Number, and Location among other fields that are mandatory in order to store and lookup an asset. The description is simply any visual notes that will help the accountant physically locate the asset easier. Building is typically the abbreviated form of the building name, example &ldquo;ERB&rdquo;, but can be lengthened up to 10 characters. Room number works a similar way, example &ldquo;404&rdquo;, and can also be lengthened up to 10 characters. The custodian&rsquo;s UTA ID is the only factor that is required to link the asset to the custodian</li>
<li>Accounting information including the asset&rsquo;s cost, source of funds (a field of up to 30 characters), and a status.</li>
<li>Once all required fields have been entered, the information will be added to the database and the user will be alerted to its success, else they will get an error message explaining which fields were not able to be accepted.</li>
</ul>
<h4 id="Lookup_Asset">&nbsp;<u>Lookup Asset</u></h4>
<li>This page is used to find all assets currently in the system as well as their identifiers, where they are, and who currently is checking them out.</li>

<li>Either the Tag Number, or Serial Number, or both must be known to lookup specific assets. Simply enter one or both into the designated fields and press &ldquo;Look Up&rdquo;. The specific asset along with its information should appear in the list below. If it does not, it may not exist, or the identifiers may have been entered incorrectly.</li>
<li>All assets in the system may also be viewed at once using the &ldquo;View All&rdquo; button.</li>
<li>The page also has the ability to export the asset database as an excel spreadsheet using the &ldquo;Excel&rdquo; button. This file will be in &ldquo;.csv&rdquo; format.</li>

<h4 id="Update_Asset">&nbsp;<u>Update Asset</u></h4>
<li>If an asset is known to have incorrect information, this page can correct or improve on the assets database.</li>

<li>Either the Tag Number, or Serial Number, or both must be known to update specific assets. It is recommended to use the &ldquo;Lookup Asset&rdquo; page to ensure the correct asset exists and has that corresponds to the Tag/Serial Number. Simply enter one or both into the designated fields and then the new updated information in the spaces below. Click &ldquo;Update&rdquo; once one or both numbers have been entered to begin altering the asset&rsquo;s information.</li>
<li>Once all required fields have been entered, the asset will be updated and the user will be alerted to its success, else they will get an error message explaining which fields were not able to be accepted.</li>

<h4 id="New_Custodian">&nbsp;<u>New Custodian</u></h4>
<li>This page is used to add a new custodian into the database in order to allow them access to checkout and return assets.</li>

<li>All fields of the page must be entered for the custodian to be added.</li>
<li>The new custodian&rsquo;s UTA ID (10 digits), First and Last name (20 Characters), Email and office building/room must all be entered as well. These are required to continue. Building and Room can be designated by their abbreviations and digits. &ldquo;ERB&rdquo; and &ldquo;111&rdquo;.</li>
<li>Once all fields are entered, the &ldquo;Submit&rdquo; button will add the custodian to the database.</li>

<h4 id="Assets_of_Custodian">&nbsp;<u>View Assets of Custodian</u></h4>
<li>This page is used to view all assets belonging to a certain custodian.</li>

<li>Either field of the page must be entered for the custodian asset&rsquo;s to be displayed. The new custodian&rsquo;s UTA ID (10 digits), or name (20 Characters), must be entered to continue</li>
<li>Once one or both fields are entered, the &ldquo;Look Up&rdquo; button will show the Custodian&rsquo;s currently checked-out assets and their information. The &ldquo;Excel&rdquo; button can also be used to generate an excel spreadsheet of the collected data.</li>

<h4 id="Update_Custodian">&nbsp;<u>Update Custodian</u></h4>
<li>If a Custodian is known to have incorrect information, this page can correct or improve on the custodian database.</li>

<li>Either the Custodian&rsquo;s UTA ID or the Custodian&rsquo;s name must be entered in order to update their information. Once this information is entered, the &ldquo;Update&rdquo; button may be pressed to select this Custodian for updating.</li>
<li>Once all required fields have been correctly entered below, the &ldquo;Submit&rdquo; button will change the selected custodian&rsquo;s information in the database.</li>

<h4 id="View_Custodian">&nbsp;<u>View Custodian</u></h4>
<li>This page is designed to assist in retrieving Custodian information.</li>

<li>Either the Custodian&rsquo;s UTA ID or the Custodian&rsquo;s name must be entered in order to retrieve their information. Once this information is entered, the &ldquo;Look Up&rdquo; button may be pressed to view their resulting Building, Room, and Email.</li>
<li>The &ldquo;View All&rdquo; button can also be pressed in order to gain information on every Custodian in the database.</li>

<h4 id="Asset_Checkout">&nbsp;<u>Asset Checkout</u></h4>
<li>This page allows the accountant to record a checkout with a specified asset to a specified custodian as well as place an expected return date.</li>

<li>It is recommended to use the Lookup Asset and Lookup Custodian pages to ensure information entered here is correct. To check out an asset, enter the assets tag and serial number. Then enter the Custodian&rsquo;s ID, Name, and Email as they appear in the database. Enter the day of checkout as well the expected return date.</li>
<li>Click the &ldquo;Submit&rdquo; button if all fields are entered and the checkout will be logged in the database.</li>

<h4 id="Asset_Check-In">&nbsp;<u>Asset Check-In</u></h4>
<li>This page allows the accountant to enter information back into the system</li>

<li>This page only requires the Tag Number of the asset, the serial number (if available) of the asset, and the date of check-in. Once these fields are entered, the &ldquo;Submit&rdquo; button will officially mark the asset returned in the database, and the account may reclaim control of the asset.</li>

<h4 id="View_Checkouts">&nbsp;<u>View Checkouts</u></h4>
<li>This page allows the accountant to view all or one specific asset to be viewed.</li>

<li>To view a list of every asset currently checked-out, the &ldquo;View All&rdquo; button can be pressed and the results will appear below.</li>
<li>However, to view if a specific asset is checkout out, either the tag number or serial number can be entered. The &ldquo;View&rdquo; button can then be pressed to check that asset.</li>
<li>Either result can be exported as an excel spreadsheet in &ldquo;.csv&rdquo; using the &ldquo;Excel&rdquo; button.</li>

<h4 id="View_Account_Information">&nbsp;<u>View Account Information</u></h4>
<li>This page allows the accountant to view accounts related to the purchase or loss reports of assets.</li>

<li>Either the tag number or serial number can be entered. The &ldquo;View&rdquo; button can then be clicked in order to receive information on a given asset&rsquo;s account.</li>
<li>The &ldquo;View All&rdquo; button can be clicked in order to receive a view of every account in the database and its information.</li>
<li>The &ldquo;Excel&rdquo; button can export the current view as a &ldquo;.csv&rdquo; excel file.</li>

<h4 id="Update_Account_Information">&nbsp;<u>Update Account Information</u></h4>
<li>This page allows the accountant to update accounts related to the purchasing and loss reports of assets.</li>
<li>Either the tag number or serial number can be entered. The &ldquo;Update&rdquo; button can then be clicked to select a specific asset&rsquo;s account for updating.</li>
<li>The cost, source of funds, and status fields can then be re-entered and the &ldquo;Submit&rdquo; button can be clicked in order to apply the changes to the database.</li>

<h4 id="File_Report">&nbsp;<u>File Report</u></h4>
<li>This page allows the accountant to file loss reports and change the status of objects that have been lost or stolen.</li>

<li>Either the tag number or serial number must be entered. A new status may then be selected for the asset.</li>
<li>If a report number filed with the police is available, it must also be entered. The date of the police report filing must also be recorded.</li>
<li>The &ldquo;Submit&rdquo; button can then be pressed to apply the report to the database and change the asset&rsquo;s status.</li>


  </form>
</div>


</div>
<!-- Footer -->
<footer class="w3-container w3-padding-30 w3-center w3-orange">
  <p class="w3-medium">
  <img src="{{url_for('static', filename='AMA.png')}}" height='100' width='250' />
  </p>
  <p>
    <h3> Developers: Pavanaj Biyani | Ethan Duff | Kevin Williams </h3>
  </p>
</footer>

</body>
</html>