<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<!-- Navigation -->
<nav class="w3-bar w3-indigo">
  <a href="index.html" class="w3-button w3-bar-item">Home</a>
  <div class="w3-dropdown-hover">
      <button class="w3-button">Assets</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(New Custodian)</a>
        <a href="oldasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(Old Custodian)</a>
        <a href="lookup.html" class="w3-bar-item w3-button w3-hover-orange">Lookup Asset(s)</a>
        <a href="updateasset.html" class="w3-bar-item w3-button w3-hover-orange">Update Asset</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Custodians</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newcust.html" class="w3-bar-item w3-button w3-hover-orange">New Custodian</a>
        <a href="viewcust.html" class="w3-bar-item w3-button w3-hover-orange">View Assets</a>
        <a href="updatecust.html" class="w3-bar-item w3-button w3-hover-orange">Update Custodian</a>
        <a href="allcust.html" class="w3-bar-item w3-button w3-hover-orange">View Custodian(s)</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Checkout</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="checkout.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkout</a>
        <a href="checkin.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkin</a>
        <a href="viewcheck.html" class="w3-bar-item w3-button w3-hover-orange">View Checkouts</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Accounts</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="acct.html" class="w3-bar-item w3-button w3-hover-orange">View Acct Info</a>
        <a href="updateacct.html" class="w3-bar-item w3-button w3-hover-orange">Update Acct Info</a>
        <a href="report.html" class="w3-bar-item w3-button w3-hover-orange">File Report</a>
      </div>
  </div>
    <a href="work.html" class="w3-button w3-bar-item">Help</a>
    <a href="{{url_for(clear_)}}"><button>"Clear"</button></a>
</nav>

<h2 align="center">Update Asset Form</h2>

<div class="container">
  <form action="{{url_for('update_asset')}}" method="POST">
    <div class="row">
      <div class="col-10">
        <label for="oldtagno">Tag Number</label>
      </div>
      <div class="col-15">
        <input type="text" id="oldtagno" name="oldtagno" placeholder="Enter Tag/N if known" maxlength="6">
      </div>
      <div class="col-10">
       </div>
      <div class="col-12">
        <label for="oldserialno">Serial Number</label>
      </div>
      <div class="col-15">
        <input type="text" id="oldserialno" name="oldserialno" placeholder="Enter S/N if known">
      </div>
    </div>
    <div class="row-25">

    </div>
    
    <div class="row">
      <p>    </p>
    </div>
        <div class="row">
      <p>    </p>
    </div>
    <div class="row">
    <div class="col-24">
       </div>
      <div class="col-10">
        <input type="submit" name="Action" value="Update">
      </div>
      
    </div>
            
            <div class="row">
      <p>  </p>
    </div>
    <div class="row">
        <h3> <u> Update Asset Details Below </u> </h3>
    </div>
        <input type="hidden" name="newtag" value = {{tag}}>
        <div class="row">
      <div class="col-10">
        <label for="newserialno">Serial Number</label>
      </div>
      <div class="col-15">
        <input type="text" id="newserialno" name="newserialno" value = {{serial}}>
      </div>
      </div>
    <div class="row">
      <div class="col-10">
        <label for="type">Type</label>
      </div>
      <div class="col-15">
        <select id="type" name="type" value = {{type}}>
          <option value="desktop">Desktop</option>
          <option value="laptop">Laptop</option>
          <option value="camera">Camera</option>
          <option value="scanner">Tablet/iPad</option>
          <option value="other">Other</option>
        </select>
      </div>           
       <div class="col-10">
       </div>
      <div class="col-12">
        <label for="date">Acquisition Date</label>
      </div>
      <div class="col-15">
      <input id="date" name="date" type="text" value = "{{acq}}">
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <label for="description">Description</label>
      </div>
      <div class="col-52">
        <input type="text" id="description" name="description" size="62" value="{{desc}}"> </input>
      </div>
    </div>
    
    <div class="row">
      <div class="col-10">
        <label for="building">Building</label>
      </div>
      <div class="col-15">
        <input type="text" id="building" name="building" value={{build}}>
      </div>
      <div class="col-10">
       </div>
      <div class="col-12">
        <label for="room">Room</label>
      </div>
      <div class="col-15">
        <input type="text" id="room" name="room" value={{room}}>
      </div>
    </div>
        <div class="row">
         <div class="row">
      <div class="col-10">
        <label for="empid">Custodian ID</label>
      </div>
      <div class="col-15">
        <input type="text" id="empid" name="empid" minlegth="10" maxlength="10" value={{cust}}>
      </div>
      </div>
      <p>  </p>
    </div>

        <div class="row">
      <div class="col-25">
         <input type="submit" name="Action" value="Submit">
      </div>
      <div class="col-15">
        <input type="submit" name="Action" value="Clear">
      </div>
    </div>
    
  </form>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-30 w3-center w3-orange">
  <p class="w3-medium">
  <img src="{{url_for('static', filename='AMA.png')}}" height='100' width='250' />
  </p>
  <p>
    Developers: Pavanaj Biyani | Ethan Duff | Kevin Williams 
  </p>
</footer>

</body>
</html>
