<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Navigation -->
<nav class="w3-bar w3-indigo">
  <a href="index.html" class="w3-button w3-bar-item">Home</a>
  <div class="w3-dropdown-hover">
      <button class="w3-button">Assets</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(New Custodian)</a>
        <a href="oldasset.html" class="w3-bar-item w3-button w3-hover-orange">New Asset(Old Custodian)</a>
        <a href="lookup.html" class="w3-bar-item w3-button w3-hover-orange">Lookup Asset(s)</a>
        <a href="updateasset.html" class="w3-bar-item w3-button w3-hover-orange">Update Asset</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Custodians</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="newcust.html" class="w3-bar-item w3-button w3-hover-orange">New Custodian</a>
        <a href="viewcust.html" class="w3-bar-item w3-button w3-hover-orange">View Assets</a>
        <a href="updatecust.html" class="w3-bar-item w3-button w3-hover-orange">Update Custodian</a>
        <a href="allcust.html" class="w3-bar-item w3-button w3-hover-orange">View Custodian(s)</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Checkout</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="checkout.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkout</a>
        <a href="checkin.html" class="w3-bar-item w3-button w3-hover-orange">Asset Checkin</a>
        <a href="viewcheck.html" class="w3-bar-item w3-button w3-hover-orange">View Checkouts</a>
      </div>
  </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Accounts</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="acct.html" class="w3-bar-item w3-button w3-hover-orange">View Acct Info</a>
        <a href="updateacct.html" class="w3-bar-item w3-button w3-hover-orange">Update Acct Info</a>
        <a href="report.html" class="w3-bar-item w3-button w3-hover-orange">File Report</a>
      </div>
  </div>
</nav>

<h2 align="center">View Assets of Custodian</h2>

<div class="container">
  <form action="work.html" method = "POST">
    <div class="row">
      <div class="col-10">
        <label for="empid">Custodian ID</label>
      </div>
      <div class="col-15">
        <input type="text" id="empid" name="empid" placeholder="Enter Custodian ID" maxlength="10">
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <label for="name">Custodian Name</label>
      </div>
      <div class="col-15">
        <input type="text" id="name" name="name" placeholder="Enter Custodian's Name">
      </div>
    </div>
    
        <div class="row">
      <p>    </p>
    </div>
    <div class="row">
      <div class="col-10">
        <input type="submit" value="Look Up">
      </div>
      <div class="col-10">
        <input type="submit" value="Excel">
      </div>
      
    <div class="row">
      <p>    </p>
    </div>
        <div class="row">
      <p>  </p>
    </div>
      
    <div class="row">
      <div class="col-75">
          <table>
    <tr>
      <th>Tag No</th>
      <th>Serial No</th>
      <th>Type</th>
      <th>Description</th>
      <th>Building</th>
      <th>Room</th>
    </tr>
    <tr>
      <td> ... </td>
      <td> ... </td>
      <td> ... </td>
      <td> ... </td>
      <td> ... </td>
      <td> ... </td>      
    </tr>
  </table>
      </div>
    </div>
      
    </div>
  </form>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-30 w3-center w3-orange">
  <p class="w3-medium">
  <img src="{{url_for('static', filename='AMA.png')}}" height='100' width='250' />
  </p>
  <p>
    Developers: Pavanaj Biyani | Ethan Duff | Kevin Willians 
  </p>
</footer>

</body>
</html>
